#wrapper {
    background: grey;
    height: 100px;
    width: 100%;
    display: flex;
}

#sidebar {
    background: blue;
    width: 30%;
    background: grey;
}

#content {
    background: green;
    width: 70%;
}