body {
  background: gray;
}
#firstDiv {
  background: blue;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  left: 20px;
}
#secondDiv {
  background: yellow;
  width: 100px;
  height: 100px;
  position: relative;
  top: 20px;
  left: 20px;
}

